@font-face {
  font-family: Noot;
  src: url("./assets/Noot.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 1vw;

  --main-width: 100rem;
  --main-height: calc(var(--main-width) * 4 / 3);

  --hud-height: calc(var(--main-height) / 100 * 7);
  --board-height: calc(var(--main-height) - var(--hud-height));
  --card-padding: 1rem;

  --player-1-color: #79c6f6;
  --player-2-color: #79c6f6;
}

@media (min-aspect-ratio: 3 / 4) {
  :root {
    font-size: calc(1vh * 3 / 4);
  }
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./@raw-assets/watercolor-texture-background-free-vector.jpg);
  font-family: Noot, Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100vh;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-position: 60%;
  background-repeat: no-repeat;
}

main {
  width: var(--main-width);
  height: var(--main-height);
}

#hud {
  height: var(--hud-height);
  padding: var(--card-padding);
  padding-bottom: calc(var(--card-padding) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 3rem;
}

#hud.large #prompt,
#hud.large .score {
  transition: transform 2s ease;
}

#hud.large #prompt {
  transform: scale(2.5) translateY(8rem);
}

#hud.large .score:first-child {
  transform: scale(2.5) translate(10rem, 20rem);
}

#hud.large .score:last-child {
  transform: scale(2.5) translate(-10rem, 20rem);
}

#prompt {
  /* text-shadow: .1rem -.1rem 0 black, -.1rem .1rem 0 black, .1rem .1rem 0 black; */
  -webkit-text-stroke: .15rem black;
}

#prompt.player-1 {
  color: var(--player-1-color);
}

#prompt.player-2 {
  color: var(--player-2-color);
}

.score {
  height: 5rem;
  width: 5rem;
  position: relative;
  transform: translate(0, 0);
}

.score.lost {
  filter: grayscale(1) contrast(0.4);
}

.score .card-side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: filter 0.5s ease;
}

#hud .card-side span {
  font-size: 3.2rem;
  margin-top: 0.8rem;
}

.score:first-child .card-side {
  color: var(--player-1-color);
}

.score:last-child .card-side {
  color: var(--player-2-color);
}

.score.current .card-side {
  filter: grayscale(0) contrast(1);
  animation: pulse .5s infinite alternate ease-in-out;
}

#board {
  height: var(--board-height);
  width: 100%;
  /* padding: var(--card-padding); */
  box-sizing: border-box;
  --total-col-padding: calc(var(--card-padding) * (var(--cols)) * 2);
  --total-row-padding: calc(var(--card-padding) * (var(--rows)) * 2);
  /* disable spacing because of line breaks */
  font-size: 0;
  transition: opacity 0.5s;
}

.card {
  display: inline-block;
  position: relative;
  width: calc((var(--main-width) - var(--total-col-padding)) / var(--cols));
  height: calc((var(--board-height) - var(--total-row-padding)) / var(--rows));
  margin: var(--card-padding);
  --x-pos: 0;
  --y-pos: 0;
  --scale: 1;
  transform: translate(var(--x-pos), var(--y-pos)) scale(var(--scale));
  transform-origin: top left;
  transition: 0.5s ease-in-out;
  transition-property: transform;
}

.card.out-of-bounds {
  --x-pos: -100vw;
  --y-pos: -100vh;
}

.card.matched {
  --scale: 0.1;
  z-index: 1;
}

.card:not(.flipped):not(.matched) {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.card-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: 0.3rem solid #0d402e;
  border-radius: 1rem;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.card-back {
  background-image: url("./@raw-assets/card/unicorn/unicorn-5.png");
}

.card .card-side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card,
.card .card-side {
  transform-style: preserve-3d;
}

.card .card-back,
.card.flipped .card-front {
  transform: rotateY(0deg);
}

.card .card-front,
.card.flipped .card-back {
  transform: rotateY(-180deg);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}