@font-face {
  font-family: Noot;
  src: url("./assets/Noot.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: min(1vh, 1vw);

  --main-width: 80rem;
  --hud-height: 7rem;
  --board-height: calc(100rem - var(--hud-height));
  --card-padding: 1rem;
  --player-1-color: purple;
  --player-2-color: blue;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: antiquewhite;
  /* background-image: url(./@raw-assets/gift/gift-5.png); */
  background-size: 16rem;
  /* backdrop-filter: blur(.1rem); */
  font-size: 3rem;
  font-family: Noot, Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100vh;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  width: var(--main-width)
}

#hud {
  height: var(--hud-height);
  padding: var(--card-padding);
  padding-bottom: calc(var(--card-padding) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.score {
  height: 100%;
  width: 4rem;
  position: relative;
}

.score .card-side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(./assets/score.jpg); */
  background-color: antiquewhite;
  filter: grayscale(1) contrast(0.4);
  transition: filter 0.5s ease;
}

#hud .card-side span {
  font-size: 3.2rem;
  margin-top: 0.8rem;
}

#hud .score:first-child .card-side {
  color: var(--player-1-color);
}

#hud .score:last-child .card-side {
  color: var(--player-2-color);
}

#hud .score.current .card-side {
  filter: grayscale(0) contrast(1);
}

#hud .score .starburst {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
}

#hud .score.current .starburst {
  transform: translate(-50%, -50%) scale(1);
}

#hud .score .starburst::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
  background: url(./assets/starburst.png) no-repeat center / contain;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#board {
  height: var(--board-height);
  width: 100%;
  /* padding: var(--card-padding); */
  box-sizing: border-box;
  --total-col-padding: calc(var(--card-padding) * (var(--cols)) * 2);
  --total-row-padding: calc(var(--card-padding) * (var(--rows)) * 2);
  /* disable spacing because of line breaks */
  font-size: 0;
}

.card {
  display: inline-block;
  position: relative;
  width: calc((var(--main-width) - var(--total-col-padding)) / var(--cols));
  height: calc((var(--board-height) - var(--total-row-padding)) / var(--rows));
  margin: var(--card-padding);
  transition: transform 0.5s ease;
  transform: translate(-100vh, -100vh);
}

.card:not(.flipped):not(.matched) {
  cursor: pointer;
}

.card-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: 0.3rem solid #0d402e;
  border-radius: 1rem;
  transition: opacity 0.5s ease;
}

.card-back {
  background-image: url("./assets/card-back.jpg");
  filter: contrast(0.7);
}

.card .card-side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card,
.card-side {
  transform-style: preserve-3d;
}

.card .card-side:first-child {
  transform: rotateY(0deg);
}

.card.flipped,
.card .card-side:last-child {
  transform: rotateY(-180deg);
}

.card.matched .card-side {
  opacity: 0;
}